/* I. Selectors */
/* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */
article {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid black;
}

.style-me1 {
  color: red;
}

#style-me2 {
  color: blue;
}

#style-me2.style-me1 {
  color: purple;
}

/* Put styles for questions 2.1 and 2.2 here */
.my-descendants-are-styled p {
  background-color: red;
}

.my-children-are-styled p {
  background-color: lightgreen;
}

/* II. Box model and common properties */
/* Put styles for questions 1-8 here */
.box {
  background-color: aqua;
  margin: 2%;
  padding: 5%;
  margin: 4px 7px;
  padding: 7em 4em;
  margin: 8px 2px 7px 5px;
  padding: 8px 2px 7px 5px;
}

/* III. Positioning */
/* Put styles for questions 1-3 here */
.position-absolute {
  position: absolute;
  top: 0;
  background-color: blueviolet;
  left: 50px;
  right: 70px;
}

.position-relative {
  position: relative;
  background-color: cadetblue;
}

.position-sticky {
  position: sticky;
  background-color: aqua;
  top: 0px;
}

/* IV. Styling text */
/* Put styles for questions 1-10 here */
.text-style {
  color: red;
  font-size: 50px;
  line-height: 100px;
  font-weight: 900;
  font-family: "Roboto Slab", serif;
  text-align: end;
  letter-spacing: 11px;
  word-spacing: 2px;
  text-transform: uppercase;
  text-decoration: line-through;
}

/* V. Styling links */
/* Put styles for questions 1-3 here */
a,
a:link {
  color: chocolate;
  font-size: 60px;
  font-weight: 600;
  text-decoration: overline;
}
a:hover,
a:active,
a:focus {
  color: brown;
  text-decoration: none;
}

a:visited {
  color: blueviolet;
  font-style: italic;
}
/* VI. calc() */
/* Put styles for questions 1-3 here */
.calc-style {
  width: 100vw;
  background-color: chartreuse;
}
.fixed-width-col {
  width: 350px;
  display: inline-block;
}
.fluid-col {
  display: inline-block;
  width: calc(100rem - 350px);
  background-color: lightcyan;
}
